.room__options {
  padding: 0 15px;
  background-color: $background_white;
}

.tooltip {
  height: 12px;
  width: 12px;
  display: block;
  background: url("../images/info.png") no-repeat 50%/11px;
  cursor: pointer;
  margin-left: 2px;
}