$background_room_preview:rgb(244,244,244);
$background_white: #fff;
$background_lightBlue: rgb(234,243,252);
$background_yellow:rgb(250,185,28);
$color_lightGray:  rgb(235,235,235);
$color_mutedGray: rgb(218,218,218);
$color_lightBlue: rgb(53,135,224);
$color_green: rgb(130,208,141);
$color_black: rgb(51,51,51);
